body {
    background-color: rgb(6, 115, 122);
    color: white;
}

section{
    background: rgb(36, 87, 170);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}  
img {
    height: 200px;
}
.dicas-freefire{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}